body {
    margin: 0;
    /* float: inline-right; */
    /* right: 30%; */
    /* color: #fff; */
    /* background: #c8c8c8; */
    background-image: url(background.jpg);
    font: 600 16px/18px 'Open Sans', sans-serif
}

.home-logo{
    text-align: center;
}
.home-logo img{
    width: 50%;
    margin-top: 15%;
}

.button{
    background: #c90000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    border-radius: 10px;
}

.button2{
    background: #c90000;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    border-radius: 10px;
}