body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    background-image: url(background.jpg);
    /* background-image: 0.75; */
    /* opacity: 0.75; */
  }
  /* body .contact-form{
    margin: 0;
    padding: 0;
    height: 100vh;
  } */
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    /* border: 1px solid rgb(155, 33, 33); */
    /* background-color: aliceblue; */
    opacity: 0.75;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .login-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 1.5%;
    background: #ff0000;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

  .contact-form{
    /* background: rgb(184, 25, 25); */
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.login-formulir h3{
    color: #fff;
}
.login-form .form-groupi{
    color: #fff;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    /* border-radius: 6rem; */
    width: 50%;
    margin-top: -3%;
    /* transform: rotate(29deg); */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 1.5%;
    background: #ff0000;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 10px;
    padding: 1.5%;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}