body {
    margin: 0;
    /* padding: 0; */
    /* background-color: #17a2b8; */
    background-image: url(background.jpg);
    /* background-image: 0.75; */
    /* opacity: 0.75; */
  }
  /* body .contact-form{
    margin: 0;
    padding: 0;
    height: 100vh;
  } */
.contact-form{
    /* background: rgb(184, 25, 25); */
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.login-formulir h3{
    color: #fff;
}
.login-form .form-groupi{
    color: #fff;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    /* border-radius: 6rem; */
    width: 75%;
    margin-top: 0;
    /* transform: rotate(29deg); */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 1.5%;
    background: #ff0000;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 10px;
    padding: 1.5%;
    color: #fff;
    background-color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}

.buttono{
  background: #fff;
  position: fixed;
  bottom: 20pt;
  right: 20pt;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 10%;
  border-radius: 10px;
}